/* under 375px */
:root {
    --space-size-2: 0.62vw;
    --space-size-4: 1.25vw;
    --space-size-8: 2.5vw;
    --space-size-16: 5vw;
    --space-size-24: 7.5vw;
    --space-size-32: 10vw;
    --space-size-40: 12.5vw;
    --space-size-48: 15vw;
    --space-size-56: 17.5vw;
    --space-size-64: 20vw;
    --space-size-72: 22.5vw;
    --space-size-80: 25vw;
    --space-size-88: 27.5vw;
    --space-size-96: 30vw;
    --space-size-104: 32.5vw;
    --space-size-112: 35vw;
    --space-size-120: 37.5vw;
    --space-size-128: 40vw;

    --font-size-12: 1vw;
    --font-size-16: 1.25vw;
    --font-size-20: 1.5vw;
    --font-size-24: 2vw;

    --font-weight-300: 300;
    --font-weight-600: 600;
    --font-weight-800: 800;

    --font-fam-noto: 'Noto Sans JP', sans-serif;
    --font-fam-roboto: 'Roboto', sans-serif;
}

* {
    font-family: var(--font-fam-noto);
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-padding-start: var(--space-size-8);
    padding-inline-start: var(--space-size-8);
    -webkit-padding-end: var(--space-size-8);
    padding-inline-end: var(--space-size-8);
    -webkit-padding-inline-top: var(--space-size-8);
    padding-top: var(--space-size-8);
    -webkit-padding-inline-bottom: var(--space-size-8);
    padding-bottom: var(--space-size-8);
}

h1 {
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-800) !important;
    width: 50%;
}

h2 {
    position: absolute;
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-600) !important;
    left: var(--space-size-8);
    bottom: var(--space-size-8);
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
}

h3 {
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-600) !important;
    background-color: rgba(0, 0, 0, 0);
}

ul {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

li {
    cursor: pointer;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-300);
    margin-left: var(--space-size-16);
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

main {
    margin-bottom: var(--space-size-24);
}

footer {
    width: 100%;
    background-color: black;
    color: #FFFFFF;
    text-align: center;
    -webkit-padding-start: var(--space-size-8);
    padding-inline-start: var(--space-size-8);
    -webkit-padding-end: var(--space-size-8);
    padding-inline-end: var(--space-size-8);
    -webkit-padding-inline-top: var(--space-size-8);
    padding-top: var(--space-size-8);
    -webkit-padding-inline-bottom: var(--space-size-8);
    padding-bottom: var(--space-size-8);
}

small {
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
}

.top-container {
    position: relative;
    width: 100%;
    height: var(--space-size-96);
    background-image: url(../img/sample.jpg);
    background-size: 100%;
    background-position: bottom;
}

.news-container {
    background-color: #FFFFFF;
    -webkit-padding-start: var(--space-size-8);
    padding-inline-start: var(--space-size-8);
    -webkit-padding-end: var(--space-size-8);
    padding-inline-end: var(--space-size-8);
    -webkit-padding-inline-top: var(--space-size-8);
    padding-top: var(--space-size-8);
    -webkit-padding-inline-bottom: var(--space-size-16);
    padding-bottom: var(--space-size-16);
}

.news-content {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: black;
    -webkit-padding-start: var(--space-size-8);
    padding-inline-start: var(--space-size-8);
    -webkit-padding-end: var(--space-size-8);
    padding-inline-end: var(--space-size-8);
    -webkit-padding-inline-top: var(--space-size-8);
    padding-top: var(--space-size-8);
    -webkit-padding-inline-bottom: var(--space-size-8);
    padding-bottom: var(--space-size-8);
}

.news-content-p,
.news-content-p-sub {
    background-color: black;
    color: #FFFFFF;
}

.news-content-p-sub {
    margin-left: var(--space-size-8);
}

#company-container,
#work-container,
#sustainability-container {
    height: var(--space-size-128);
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-padding-start: var(--space-size-8);
    padding-inline-start: var(--space-size-8);
    -webkit-padding-end: var(--space-size-8);
    padding-inline-end: var(--space-size-8);
}

.company-content-img {
    height: 100%;
    width: 50%;
}

.company-content-text {
    width: 100%;;
}

.company-content-h3,
.company-content-p,
.company-content-p-sub {
    -webkit-padding-start: var(--space-size-8);
    padding-inline-start: var(--space-size-8);
    -webkit-padding-end: var(--space-size-8);
    padding-inline-end: var(--space-size-8);
}

.company-content-h3 {
    font-size: var(--font-size-24);
    margin-bottom: var(--space-size-8);
}

.company-content-p {
    font-size: var(--font-size-20);
    margin-bottom: var(--space-size-2);
}

.company-content-p-sub {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-300);
    margin-bottom: var(--space-size-8);
}